<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94385791237-2dd04aegpaj1pkl2s50nh5sqpv9stbjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94385791237-2dd04aegpaj1pkl2s50nh5sqpv9stbjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCbOi91uL_8fcGMo0Mk34KVKK96_iI87HI</string>
	<key>GCM_SENDER_ID</key>
	<string>94385791237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plswork.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>betteredu-website</string>
	<key>STORAGE_BUCKET</key>
	<string>betteredu-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94385791237:ios:16756642884d395b2d576c</string>
</dict>
</plist>